[submodule "log-insight"]
	path = log-insight
	url = https://github.com/dr11m/log-insight-skill
[submodule "log-validate"]
	path = log-validate
	url = https://github.com/dr11m/log-validate-skill
[submodule "llm-log-analyzer"]
	path = llm-log-analyzer
	url = https://github.com/dr11m/llm-log-analyzer
